.app-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
  position: relative;
}

.main-content {
  overflow-x: hidden;
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 13rem;
  padding-bottom: 2.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;

  @include tablet {
    padding-top: 13rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include mobile {
    padding-top: 12rem; /* Navbar 모바일 높이 + 모바일 여백 */
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
