.main-content {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 13rem;
  padding-bottom: 2.4rem;
  padding-left: 4rem;
  padding-right: 4rem;

  @include tablet {
    padding-top: 13rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include mobile {
    padding-top: 9rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
