@use "./reset";

@font-face {
  font-family: "OKDanDan";
  src: url("/fonts/OKDanDan.woff2") format("woff2"),
    url("/fonts/OKDanDan.woff") format("woff"),
    url("/fonts/OKDanDan.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}
body {
  background: $color-bg;
  font-weight: 600;
  color: $color-text-main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  margin: 0;
}
