#intro {
  display: grid;
  margin: auto;
  max-width: 62rem;
  min-width: 33rem;
  grid-template-rows: repeat(3, 1fr);

  > div:nth-child(1) {
    rotate: 15deg;
    margin-left: 1rem;
  }
  > div:nth-child(2) {
    z-index: 1;
    rotate: -8.44deg;
    margin-top: -10rem;
    justify-self: end;
  }
  > div:nth-child(3) {
    rotate: -4.68deg;
    margin-top: -20rem;
  }

  @include mobile {
    max-width: 42rem;
    min-width: 34rem;
    grid-template-rows: repeat(3, 1fr);

    > div:nth-child(1) {
      rotate: 15deg;
      margin-left: 1rem;
    }
    > div:nth-child(2) {
      z-index: 1;
      rotate: -6.44deg;
      margin-top: -9rem;
      justify-self: end;
    }
    > div:nth-child(3) {
      rotate: 4.68deg;
      margin-top: -12rem;
      margin-left: 1rem;
    }
  }
}
.polaroid-with-badge {
  position: relative;
  width: fit-content;
  .badge {
    position: absolute;
    z-index: -1;
    right: -6rem;
    top: -5rem;
    rotate: 32deg;
  }
}
