#home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  scroll-margin-top: -10rem;
}

#intro {
  width: 100%;
  display: grid;
  max-width: 62rem;
  grid-template-rows: repeat(3, 1fr);

  > div:nth-child(1) {
    rotate: 15deg;
    margin-left: 1rem;
  }
  > div:nth-child(2) {
    z-index: 1;
    rotate: -8.44deg;
    margin-top: -10rem;
    justify-self: end;
  }
  > div:nth-child(3) {
    rotate: -4.68deg;
    margin-top: -20rem;
  }

  @include mobile {
    max-width: 42rem;
    min-width: 34rem;
    grid-template-rows: repeat(3, 1fr);

    > div:nth-child(1) {
      rotate: 15deg;
      margin-left: 1rem;
    }
    > div:nth-child(2) {
      z-index: 1;
      rotate: -6.44deg;
      margin-top: -9rem;
      justify-self: end;
    }
    > div:nth-child(3) {
      rotate: 4.68deg;
      margin-top: -12rem;
      margin-left: 1rem;
    }
  }
}

.polaroid-with-badge {
  position: relative;
  width: fit-content;
  .badge {
    position: absolute;
    z-index: -1;
    right: -6rem;
    top: -5rem;
    rotate: 32deg;
  }
}

.polaroid-with-badge:nth-child(3) {
  position: relative;
  width: fit-content;
  > .badge {
    width: 10rem;
    position: absolute;
    z-index: -1;
    left: -4rem;
    top: -4rem;
    animation: rotation 5s linear infinite;
  }
}
#intro-gallery-section {
  display: flex;
  flex-direction: column;
  gap: 10.6rem;
}

#home-footer {
  min-height: 23rem;
  display: flex;
  align-items: center;
  > a {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    gap: 0.6rem;
    font-size: 1.8rem;

    .arrow-icon {
      height: 2rem;
    }
  }
}

@keyframes rotation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
